.centered {
    text-align: center;
}

.inpLogin {
    border-radius: 15px;

    padding: 10px;

    font-size: medium;
}

a {
    text-decoration: none;
    color: white;
}

/* background-image: url('../../../assets/PuzzleLeft.png'); */