<div class="centered"
    style="width: 100%; height: 100%; padding-top: 50px; background-color: rgb(51, 50, 50); color: white; font-size: medium;">
    <h1>Please enter credentials</h1>

    <div style="width: 100%;">
        <label for="inpEmail">Email</label> <br>
        <input id="inpEmail" type="email" class="inpLogin" /> <br>

        <br>

        <label for="inpPass">Password</label> <br>
        <input id="inpPass" type="password" class="inpLogin" /> <br>
    </div>

    <br><br>

    <h2>Please solve this puzzle to verify yourself</h2>
    <mat-slider>
        <input matSliderThumb>
    </mat-slider>

    <mat-slider>
        <input matSliderThumb value="100">
    </mat-slider>

    <br><br>

    <button mat-raised-button color="warn"><a href="/warehouses/1">Authorize</a></button>
</div>