<div class="centered">

    <!-- makes it impossible to type or press buttons -->
    <!-- <div class="bg"></div> -->

    <div class="loginForm">
        <form [formGroup]="login" (ngSubmit)="onSubmit()">

            <h1 class="title">ENTER CREDENTIALS</h1>
            <br>

            <label for="inpEmail">Email: </label> <br>
            <input id="inpEmail" type="email" formControlName="email" class="inpEmail" value="email"> <br>

            <br>

            <label for="inpPass">Password: </label> <br>
            <input id="inpPass" type="password" formControlName="password" class="inpLogin" value="password"> <br>
            <br>
            <hr />
            <br>

            <h2>
                PLEASE AUTHENTICATE IDENTITY WITH
                <br>
                COMPANY STANDARD COMPETENCY TEST:
            </h2>
            <br>

            <!-- SLIDERS -->
            <mat-slider>
                <input id="slider_left" formControlName="slider_left" matSliderThumb value="0">
            </mat-slider>
            <mat-slider>
                <input id="slider_right" formControlName="slider_right" matSliderThumb value="100">
            </mat-slider>
            <!-- SLIDERS -->

            <br><br>

            <!-- Error message -->
            <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

            <br><br>

            <input type="submit" class="button-49" role="button" value="AUTHENTICATE" />
        </form>
    </div>

</div>