<div class="mainbox">  
    <div class="back">
        <a href="/warehouses/1" class="arrow"> <img src="../../../assets/arrow-up-s-line.svg" width="150" height="100" /> </a>
    </div>

    <div class="secondaryBox">
        <div class="item" style="display: flex; align-items: center;"> 
            <img src="../../../assets/imgMissing.svg" alt="help me" height="70" style="margin-right: auto; margin-bottom: 10px;"/>
            <h2> item name </h2> 
            <h2 style="margin-left: auto; margin-right: 100px;"> item price </h2> 
            <button class="button-19" role="button">Button 19</button>
        </div>
    </div>
</div>


