<mat-card class="card">

    <div style="padding: 5px;">
        <div class="left">
            <img [src]="item.image" width="80" />
        </div>

        <div class="left">
            <mat-card-content style="width: 300px; text-align: left;">
                <mat-card-title> Name: {{item.name}} </mat-card-title>
                <p> {{item.description}} </p>

                <div style="display: flex;">
                    <p class="amount"> Agent Cortez: {{item.totalWarehouse1}} </p>
                    <p class="amount" style="border-left: 2px solid black; border-right: 2px solid black;"> Agent Natalia: {{item.totalWarehouse2}} </p>
                    <p class="amount"> Agent Bigears: {{item.totalWarehouse3}} </p>
                </div>
                
                <p class="amountTotal"> Current Total: {{item.totalAmount}} </p>
            </mat-card-content>
        </div>
    </div>

</mat-card>