<!-- <p>dashboard works!</p> -->
<div class="mainBox">

    <div class="secondaryBox">
        <div class="landingTitle">
            <h1> Welcome Agent </h1>
        </div>

        <img class="spinningDude" src="../../../assets/spinning ahh mf.gif" width="200" />

        <div class="description">
            <p>
                This is Spynet. Our proprietary agency crafting system for agents out in the field to use to keep track
                of
                their inventories and to craft new gadgets and devices on the fly.
                Purchase stuff you dont have from the marketplace, and craft on the inventory screen.
            </p>
        </div>
    </div>
    <a href="/login" class="arrow"> <img src="../../../assets/arrow-right-line.svg" width="100" /> </a>
</div>