<!-- <p>dashboard works!</p> -->
<div class="mainBox">

    <div class="bg"></div>

    <div class="landingTitle ">
        <a href="/login" style="text-decoration: none;"> <h1> Welcome Agent </h1> </a>
    </div>

    <!-- accordions -->
    <div>
        <details open>
            <summary>
                What is this?
            </summary>
            <div style="background-color: white; color: black;">
                This is an inventory tracking/crafting website for agents in the field to use to make gadgets and tools for their missions.
            </div>
        </details>
        <details>
            <summary>
                How does it work?
            </summary>
            <div style="background-color: white; color: black;">
                Click the "Hello agent" link above to go to the auth page where you will have to log in. Once in you can access the crafting page and craft new items using ones you have. Go to the marketplace to buy items you dont have!
            </div>
        </details>
        <details>
            <summary>
                Who are the agents on the crafting page?
            </summary>
            <div style="background-color: white; color: black;">
                Thats classified
            </div>
        </details>
    </div>

</div>