<!-- actual page -->
<div class="mainbox">
    <div id="navbar">
        <span><button (click)="callLogOut()" class="btnNav button-49" role="button"
                style="font-family: 'Barcode'; font-size: 40px;">Log Out</button></span>
    </div>
    <div style="width: 100%; text-align: center;">
        <button (click)="warehouseChange1()" class="btnWarehouse button-80" role="button"><a routerLink="/warehouses/1"
                routerLinkActive="active"> Agent Cortez: 001
            </a></button>
        <button (click)="warehouseChange2()" class="btnWarehouse button-80" role="button"><a routerLink="/warehouses/2"
                routerLinkActive="active"> Agent Natalia: 002
            </a></button>
        <button (click)="warehouseChange3()" class="btnWarehouse button-80" role="button"><a routerLink="/warehouses/3"
                routerLinkActive="active"> Agent Bigears: 003
            </a></button>
    </div>

    <div style="width: 100%; text-align: center;">
        <button class="btnWarehouse button-80" role="button"><a
                routerLink="/summary" routerLinkActive="active"> View Inventory Summary
            </a></button>
    </div>

    <!-- Inventory section -->
    <div *ngIf="warehouseID == 1" class="centered divSizeWarehouses left margin_top"
        style="margin-left: 25px; margin-right: 25px;">
        <h2>Inventory</h2>

        <app-warehouse-card *ngFor="let item of ingredientList" [item]="item"></app-warehouse-card>
    </div>

    <div *ngIf="warehouseID == 2" class="centered divSizeWarehouses left margin_top"
        style="margin-left: 25px; margin-right: 25px;">
        <h2>Inventory</h2>

        <app-card-2 *ngFor="let item of ingredientList" [item]="item"></app-card-2>
    </div>

    <div *ngIf="warehouseID == 3" class="centered divSizeWarehouses left margin_top"
        style="margin-left: 25px; margin-right: 25px;">
        <h2>Inventory</h2>

        <app-card-3 *ngFor="let item of ingredientList" [item]="item"></app-card-3>
    </div>

    <!-- Warehouses slides -->
    <div class="middle left margin_top" style="text-align: center;">

        <h2 style="text-align: center; width: 100%;">Codename: 00{{warehouseID}}</h2>
        <div *ngIf="warehouseID == 1" style="width: auto;">
            <img src="../../../assets/cortez.jpg" width="200" height="300">
        </div>

        <div *ngIf="warehouseID == 2" style="width: auto;">
            <img src="../../../assets/natalia.jpg" width="200" height="300">
        </div>

        <div *ngIf="warehouseID == 3" style="width: auto;">
            <img src="../../../assets/bigears.jpg" width="200" height="300">
        </div>

        <div class="back" style="width: fit-content; text-align: center; position: absolute; z-index: 9;">
            <a href="/marketplace-admin" class="arrow" style="text-decoration: none; margin-top: 10px;">
                <button class="button-57" role="button"><span class="text">V</span><span class="back">ACCESS BLACK
                        MARKET</span></button>
                <!-- <h1 class="back" > Back to Crafting </h1>  -->
            </a>
        </div>

    </div>

    <!-- Crafting section -->
    <div *ngIf="warehouseID == 1" class="centered divSizeWarehouses left margin_top">
        <h2>Crafting</h2>

        <app-crafting-card *ngFor="let item of recipeList" [recipeItem]="item"></app-crafting-card>
    </div>

    <div *ngIf="warehouseID == 2" class="centered divSizeWarehouses left margin_top" style="margin-left: 20px;">
        <h2>Crafting</h2>

        <app-crafting-card-2 *ngFor="let item of recipeList" [recipeItem]="item"></app-crafting-card-2>
    </div>

    <div *ngIf="warehouseID == 3" class="centered divSizeWarehouses left margin_top" style="margin-left: 20px;">
        <h2>Crafting</h2>

        <app-crafting-card-3 *ngFor="let item of recipeList" [recipeItem]="item"></app-crafting-card-3>
    </div>

</div>