* {
    box-sizing: border-box
}

a {
    margin-right: 50px;
    margin-left: 50px;
}

.divSizeWarehouses {
    width: 33%;
}

.centered {
    text-align: center;
}

.left {
    float: left;
}

.margin_top {
    margin-top: 50px;
}

.btnWarehouse {
    padding: 5px;
    padding-top: 7px;
    font-size: large;
    margin-left: 10px;

    border-radius: 12px;

    background-color: white;
}

.arrow {

    justify-content: center;
    align-items: center;
    font-size: 30px;
    transform: translateY(-50%);

    margin-top: 20px;
}

a {
    text-decoration: none;
    color: black;
}