<!-- Log Out button -->
<div id="navbar">
    <span><button (click)="callLogOut()" class="btnNav">Log Out</button></span>
</div>

<!-- actual page -->
<div style="width: 100%; height: 100%; background-color: rgb(51, 50, 50); color: white; font-size: medium; margin-top: 1%;">
    <div style="width: 100%; text-align: center;">
        <button (click)="warehouseChange1()" class="btnWarehouse"><a routerLink="/warehouses/1"
                routerLinkActive="active"> Warehouse 1
            </a></button>
        <button (click)="warehouseChange2()" class="btnWarehouse"><a routerLink="/warehouses/2"
                routerLinkActive="active"> Warehouse 2
            </a></button>
        <button (click)="warehouseChange3()" class="btnWarehouse"><a routerLink="/warehouses/3"
                routerLinkActive="active"> Warehouse 3
            </a></button>
    </div>

    <!-- Display differing warehouse amounts -->
    <div *ngIf="warehouseID == 1" class="centered divSizeWarehouses left margin_top"
        style="margin-left: 25px; margin-right: 25px;">
        <h2>In Stock</h2>

        <app-warehouse-card *ngFor="let item of ingredientList" [item]="item"></app-warehouse-card>
    </div>

    <div *ngIf="warehouseID == 2" class="centered divSizeWarehouses left margin_top"
        style="margin-left: 25px; margin-right: 25px;">
        <h2>In Stock</h2>

        <app-card-2 *ngFor="let item of ingredientList" [item]="item"></app-card-2>
    </div>

    <div *ngIf="warehouseID == 3" class="centered divSizeWarehouses left margin_top"
        style="margin-left: 25px; margin-right: 25px;">
        <h2>In Stock</h2>

        <app-card-3 *ngFor="let item of ingredientList" [item]="item"></app-card-3>
    </div>

    <!-- Warehouses slides -->
    <div class="left margin_top" style="text-align: center;">

        <h2 style="text-align: center; width: 200%;">Warehouse {{warehouseID}}</h2>
        <img src="../../../assets/imgMissing.svg" style="width:200%">

        <div style="width: fit-content; text-align: center; position: absolute; z-index: 9;">
            <a href="/marketplace" class="arrow"> <img src="../../../assets/arrow-up-s-line.svg" width="150" height="100" style="rotate: 180deg; margin-left: 88px;" /> </a>
        </div>

    </div>

    <!-- Display differing warehouse amounts -->
    <div *ngIf="warehouseID == 1" class="centered divSizeWarehouses left margin_top" style="margin-left: 230px;">
        <h2>Can Craft</h2>

        <app-crafting-card *ngFor="let item of recipeList" [recipeItem]="item"></app-crafting-card>
    </div>

    <div *ngIf="warehouseID == 2" class="centered divSizeWarehouses left margin_top" style="margin-left: 230px;">
        <h2>In Stock</h2>

        <app-crafting-card-2 *ngFor="let item of recipeList" [recipeItem]="item"></app-crafting-card-2>
    </div>

    <div *ngIf="warehouseID == 3" class="centered divSizeWarehouses left margin_top" style="margin-left: 230px;">
        <h2>In Stock</h2>

        <app-crafting-card-3 *ngFor="let item of recipeList" [recipeItem]="item"></app-crafting-card-3>
    </div>
    
</div>

