a {
    margin-right: 50px;
    margin-left: 50px;
}

#navbar {
    background-color: black; 
    width: auto; 
    text-align: center; 
    padding: 20px;
    background-color: rgb(51, 50, 50);
}

.btnNav {
    font-size: large;
    padding: 7px;
}