<mat-card class="card">

    <div style="padding: 5px;">
        <div class="imageANDbutton left">
            <img [src]="recipeItem.image" width="80" />
            
            <button class="btnCraft" (click)="craftNewRecipe(recipeItem.id!, 1)">Craft</button>
        </div>

        <div class="left">
            <mat-card-content style="width: 300px; text-align: left;">
                <mat-card-title> Name: {{recipeItem.name}} </mat-card-title>
                <p> {{recipeItem.description}} </p>
                <br>
                <br>
                <br>

                <p class="amount"> You Have: {{recipeItem.totalWarehouse1}} &nbsp; </p>

                @if(this.recipeItem.isCraftable == false){
                <p style="color: red;">Not enough ingredients available in inventory</p>
                }
            </mat-card-content>
        </div>
    </div>

</mat-card>