<mat-card class="card">

    <div style="padding-top: 5px;">
        <div class="left">
            <img [src]="recipeItem.image" width="80" />
        </div>

        <div class="left">
            <mat-card-content style="width: 300px; text-align: left;">
                <mat-card-title> Name: {{recipeItem.name}} </mat-card-title>
                <p> {{recipeItem.description}} </p>
                <p> Amount: {{recipeItem.totalWarehouse2}} &nbsp; <button class="btnCraft" (click)="craftNewRecipe(recipeItem.id!, 2)">Craft</button></p>

                @if(this.recipeItem.isCraftable == false){
                <p style="color: red;">Not enough ingredients available in inventory</p>
                }

            </mat-card-content>
        </div>
    </div>

</mat-card>