<mat-card class="card">

    <div>
        <!-- <div class="left">
            <img [src]="recipeItem.image" width="150" />
        </div> -->

        <div class="left">
            <mat-card-content style="width: 300px; text-align: left;">
                <mat-card-title> Name: {{recipeItem.name}} </mat-card-title>
                <p> {{recipeItem.description}} </p>
                <p> Amount: {{recipeItem.totalWarehouse2}} </p>
            </mat-card-content>
        </div>
    </div>

</mat-card>