<mat-card class="card">

    <div>
        <!-- <div class="left">
            <img [src]="recipeItem.image" width="150" />
        </div> -->

        <div class="left">
            <mat-card-content style="width: 300px; text-align: left;">
                <mat-card-title> Name: {{recipeItem.name}} </mat-card-title>
                <p> {{recipeItem.description}} </p>
                <p> Amount: {{recipeItem.totalWarehouse3}} </p>

                <button (click)="craftNewRecipe(recipeItem.id!, 3)">Craft</button>

                @if(this.recipeItem.isCraftable == false){
                <p style="color: red;">Not enough ingredients available in inventory</p>
                }

            </mat-card-content>
        </div>
    </div>

</mat-card>